src/main/resources/contacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://progress.bg/web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:tns="http://progress.bg/web-service" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://progress.bg/web-service">

            <xs:element name="getContactRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getContactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="contact" type="tns:contact"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="contact">
                <xs:sequence>
                    <xs:element name="id" type="xs:integer"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getContactResponse">
        <wsdl:part element="sch:getContactResponse" name="getContactResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getContactRequest">
        <wsdl:part element="sch:getContactRequest" name="getContactRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ContactsPort">
        <wsdl:operation name="getContact">
            <wsdl:input message="tns:getContactRequest" name="getContactRequest">
            </wsdl:input>
            <wsdl:output message="tns:getContactResponse" name="getContactResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ContactsPortSoap11" type="tns:ContactsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getContact">
            <soap:operation soapAction=""/>
            <wsdl:input name="getContactRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getContactResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ContactsPortService">
        <wsdl:port binding="tns:ContactsPortSoap11" name="ContactsPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>